// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Poppins', 'Sans-serif';
  background-color: $very-light-gray;
  min-height: 100vh;
  @extend %display-flex;
  @extend %align-items-center;
  @extend %col;
}