@import '_variables.scss';

%display-flex{
  display: flex;
}

%col{
  flex-direction: column;
}

%row{
  flex-direction: row;
}

%justify-center{
  justify-content: center;
}

%align-items-start{
  align-items: flex-start;
}

%align-items-end{
  align-items: end;
}

%align-items-center{
  align-items: center;
}

%color-primary{
  color: $very-dark-blue;
}

%text-center{
  text-align: center;
}

%fw-400{
  font-weight: 400;
}

%fw-600{
  font-weight: 600;
}

@mixin card-styles(){
  width: max-content;
  height: 217px;
  padding: 19px;
  gap: 33px;
  opacity: 0.8;
  border-radius: 6px;
  background: #FCFCFC;
  box-shadow: 0px 8px 10px 0px #DAE4F0;

  .card-desc{
    @extend %display-flex;
    @extend %col;
    gap: 5px;
    max-width: 265px;
  }
}

@function px-to-rem($rem) {
  $remValue: calc($rem / 15); // base font size: 15px
  @return #{$remValue}rem; 
}