@import '_variables.scss';

header {
  @extend %text-center;
  @extend %fw-600;
  
  h1{
    font-size: px-to-rem(24);
    padding: 0;
    opacity: 0.7;
    min-width: 315px;
  }

  span{
    font-weight: 200;
  }

  h2{
    @extend %color-primary;
    font-size: px-to-rem(16);
    @extend %fw-400;
    opacity: 0.5;
  }
}

article{
  .card-desc{
    h3{
      @extend %color-primary;
      font-size: px-to-rem(20);
      @extend %fw-600;
    }

    p{
      @extend %color-primary;
      font-size: px-to-rem(14);
      @extend %fw-400;
      opacity: 0.8;
    }
  }
}

footer{
  @extend %text-center;
  margin-bottom: 5vh;

  a{
    @extend %fw-600;
    color: nth($primary-colors,1);
    opacity: 0.5;
    transition: opacity 0.5s linear;
    
    &:hover{
      color: nth($primary-colors,3);
      opacity: 1;
    }
  }
}